In [28]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [29]:
datos = pd.read_csv('202210_Laboratorio1_data_Datos_Clasificacion_2022.csv', delimiter=';')

/Users/sofiaalvarezlopez/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [30]:
display(datos.sample(5))

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,DiffWalk,Sex,Age,Education,Income,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
79292,0,0,0,1,27,0,0,0,0,0,...,0,1,10,6,8,NaN,NaN,NaN,NaN,NaN
1459,0,1,0,1,36,0,0,0,1,1,...,1,0,9,5,6,NaN,NaN,NaN,NaN,NaN
43376,0,0,0,0,22,0,0,0,1,0,...,0,1,1,6,5,NaN,NaN,NaN,NaN,NaN
80652,0,0,1,1,30,1,0,0,0,0,...,0,0,10,5,5,NaN,NaN,NaN,NaN,NaN
14995,0,0,0,1,23,0,0,1,1,1,...,0,0,8,6,7,NaN,NaN,NaN,NaN,NaN

In [31]:
# Eliminamos las últimas columnas --> Son solo ; en el archivo .csv
datos = datos.drop(['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'], axis=1)
datos.columns

Index(['Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [81]:
# Vemos todos los valores que tiene el df
valores_distintos = list(datos.apply(pd.value_counts).index)
# Exploramos el diccionario y nos dimos cuenta que todas las categorias son numericas. 
# Si hay datos no numericos, los agregamos a la lista
valores_no_numericos = []
for val in valores_distintos:
    try:
        numero = float(val)
    except:
        valores_no_numericos.append(val)
valores_no_numericos

['Xx', '-', '?']

In [59]:
# Revisar esto --> funcion de pandas para saber en cuantas filas hay esas ocurrencias
contador = 0
for column in datos.columns:
    contador += datos[column][(datos[column] == '-') | (datos[column] == 'Xx') | (datos[column] == '?')].count()
contador

747

In [67]:
porcentaje_invalidos_general = contador*100/len(datos)
porcentaje_invalidos_general
# Son poquitos, entonces podemos eliminar los datos raros

0.747

In [95]:
for column in datos.columns:
    datos.drop(datos[(datos[column] == '-') | (datos[column] == 'Xx') | (datos[column] == '?')].index, inplace=True)